@if (scoreForm) {
    <form class="scoresForm" [formGroup]="scoreForm" (ngSubmit)="createScore()">
        <div class="scoresForm-fields">
            <div class="scoresForm-field">
                <input name="score"
                       formControlName="score"
                       type="number"
                       [class._error]="scoreForm.controls['score'].errors?.['alreadyExists']"
                       [placeholder]="'score.new' | translate">
            </div>

            <button class="button _round"
                    type="submit"
                    [disabled]="scoreForm.invalid">
                {{ 'score.submit' | translate }}
            </button>
        </div>

        @if (scoreForm.controls['score'].errors?.['alreadyExists']) {
            <div class="scoresForm-error">
                {{ 'score.error.alreadyExists' | translate }}
            </div>
        }
    </form>
}

<table class="scores">
    <thead>
    <tr>
        <th>{{ 'score.value' | translate }}</th>
        <th>{{ 'score.timestamp' | translate }}</th>
        <th>{{ 'score.user' | translate }}</th>
    </tr>
    </thead>
    <tbody>
        @for (score of scores; track score.id) {
            <tr>
                <td>{{ score.score | score }}</td>
                <td>{{ score.timestamp | date: 'medium' }}</td>
                <td>{{ score.userIdentity?.firstName }} {{ score.userIdentity?.lastName }}</td>
            </tr>
        }
    </tbody>
</table>

