<div class="bottleDetails">
    <div class="bottleForm">
        <bottle-form [bottle]="bottle" (submitted)="saveBottle($event)"></bottle-form>
    </div>
    @if(bottle?.id) {
        <div class="bottleScores">
            <tabs>
                <tab #scoresTab [title]="'scores' | translate">
                    @if (scoresTab.active) {
                        <bottle-scores [scores]="scores" (submitted)="createScore($event)"></bottle-scores>
                    }
                </tab>
                <tab #similarTab [title]="'bottle.related' | translate">
                    @if (similarTab.active) {
                        <related-bottle-list [bottle]="bottle"></related-bottle-list>
                    }
                </tab>
            </tabs>
        </div>
    }
</div>
